.container {
  margin: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.formContainer {
  display: flex;
  margin-bottom: 20px;
}

.inputField {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.submitButton {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.moviesList {
  list-style: none;
  padding: 0;
}

.movieItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.moviePoster {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 10px;
}

.movieDetails {
  flex: 1;
}

.movieTitle {
  font-size: 20px;
  margin-bottom: 5px;
}

.movieOverview {
  font-size: 16px;
}

/* Style dla linków */
.link {
  text-decoration: none;
  color: #007bff;
}

/* Styl dla aktywnego linku */
.link.active-link {
  color: #ff5722;
}