.container {
  background-color: #333;
  padding: 10px;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 0 10px;
}

.navLink {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.active-link {
  background-color: #ff5722;
}
